



body {
    padding: 0px;
    margin: 0px;
}

.header {
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    position: sticky;
}
li {
    
    float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.menu2 {
    display: block;
}
.footer {
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }
 .product-box {
     display: flex;
     padding: 20px 20px;
     /* border: #333 solid 2px; */
     margin: 20px 20px;
     width: 90%;
 }
 .container {
     border: 2px black solid ;
     text-align: center;
     background-color: blanchedalmond;
 }
 .featured-title {
     background-color: gray;
     color: white;
     margin: 20px;
 }
